# Node / React Native / Expo
node_modules/
.expo/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
web-build/
dist/
build/
android/
ios/

# Python / FastAPI
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# Base de datos y variables de entorno sensibles
.env
*.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
test.db

# Sistema / IDEs
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
