EXPO_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=tu-anon-key-aqui

# URL del backend NestJS
# Emulador Android: http://10.0.2.2:3001/api/v1
# Dispositivo fisico: http://<IP_DE_TU_PC>:3001/api/v1
EXPO_PUBLIC_API_URL=http://10.0.2.2:3001/api/v1
